<!DOCTYPE HTML>

 <head>

 <meta http-equiv="Cache-control" content="public">
</head>

<title id = "tit">Register</title>


<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style>

<body>



<div class = "row">

</div> 


<style>

#myModal {

	color: #0B610B
}

.modal-header {
      background-color: #5cb85c;
}

.form-horizontal  {
	margin-top: 20%;
	margin-left: 30%;

}


</style>



</head>
<body>

{{rat}}

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">REGISTER</h4>
        </div>
        <div class="modal-body">
          <p><strong>Welcome! It Appears That You're New. Register Once. And, That's All That's Required!. Thanks</strong></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>	


      
   

<form class="form-horizontal" name= "sup" role="form" method="post" action="/R">
{% csrf_token %}

<div class="form-group">
		<div class = "col-sm-2">
		
        </div>
		
		<div class= "col-sm-4">
			<label for="firstName" class="col-sm-4 control-label">First Name</label>
			<input type="text" name="firstName" id= "firstName" placeholder="First Name" class="form-control" required/>
		</div>
		<div class="col-sm-4">
			  
		</div>

		<div class= "col-sm-2">
		</div>
</div>

	

	<div class="form-group">
	<div class = "col-sm-2">
		
	</div>
		<div class= "col-sm-4">
			<label for="eMail" class="col-sm-4 control-label">E-mail</label>
			<input type="email" name="email" id= id="email" placeholder="e-Mail" class="form-control" required/>
		</div>
		<div class="col-sm-4">
			  
		</div>
		<div class= "col-sm-2">
		</div>
	</div>

	


<input type="submit" id="submitt" value="Join"/>

</form>

<div>
	<p id = "c1"> </p>
</div>
 <div class="modal fade" id="#myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
<script src="../static/setUpPageText.txt"></script> 






<script>
$("#myModal").modal();



</script>	




</body>

</html>